<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>HiKin-Coffee 位置</title>
    <link rel="icon" type="image/x-icon" href="../imgs/favicon.ico" />
    <script src="../js/jquery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../css/map.css">
    <script src="../js/map.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=skwNO9DzKL8dkEn9ZXMWjxkk"></script>
</head>

<body>
        <div class="head">
                <div id="search">
                    <div id="search_search">
                        <span class="search_search"></span>
                        <form action="#">
                            <input type="text" id="search_input" placeholder="蓝山咖啡">
                        </form>
                        <span class="search_display"></span>
                    </div>
                </div>
                <div class="nav">
                    <a href="#" class="mapIcon"></a>
                    <ul class="head_ul1">
                        <span class="head_map"></span>
                        <li class="head_li1" id="head_li1">
                            <a href="#">中国</a>
        
                        </li>
                        <li class="head_li1"><a href="#">简体中文</a></li>
                        <li class="head_li1"><a href="#">客户服务</a></li>
                    </ul>
                    <ul class="head_ul2">
                        <li class="head_li2">
                            <a href="login1.html" class="head_Login">登录</a>
                        </li>
                        <li class="head_li2"><span class="head_xin"></span></li>
                        <li class="head_li2"><span class="head_Shop_logo"></span>
                            <a href="shopCar.html" class="head_Shop">购物车</a></li>
                        <li class="head_li2"><span class="head_s1"></span></li>
                    </ul>
                </div>
        
                <div id="menu" class="menu">
                    <ul class="head_ul3">
                        <li class="head_li3"><a href="coffee_hot.html">热门饮品</a><span></span></li>
                        <li class="head_li3"><a href="coffee.html">蓝山咖啡</a><span></span></li>
                        <li class="head_li3"><a href="coffee.html">拿铁咖啡</a><span></span></li>
                        <li class="head_li3"><a href="milkTea.html">浓郁奶茶</a><span></span></li>
                        <li class="head_li3"><a href="cake.html">慕斯蛋糕</a><span></span></li>
                        <li class="head_li3"><a href="story.html">高薪故事</a><span></span></li>
                    </ul>
                </div>
                <div id="menu_List">
                    <div id="menu_List_position">
                        <ul>
                            <li>女士</li>
                            <li>2019早秋系列饮品</li>
                            <li>2019春夏系列饮品</li>
                            <li>2019早春系列饮品</li>
                        </ul>
                        <ul>
                            <li>男士</li>
                            <li>2019早秋系列饮品</li>
                            <li>2019春夏系列饮品</li>
                            <li>2019早春系列饮品</li>
                        </ul>
                    </div>
                </div>
                <div class="location">
                    <img src="../imgs/map_triangle.png" alt="" id="triangle">
                    <p class="location_Strong">网上商城</p>
        
                    <p class="location_txt">请注意，在浏览过程中更改您的位置将会清除购物袋中的所有商品。</p>
                    <div class="location_d location_txt">
                        <span class="location_dir">
                            <span>配送至：</span>
                            <a>中国</a>
                        </span>
                        <a class="location_change location_txt"> 更改国家/地区</a>
                    </div>
                    <div class="head_city">
                        <select id="province" class="location_option">
                            <option value="" onchange="selP(this)">请选择省</option>
                            <!-- <option value="" >请选择省</option> -->
                        </select>
                        <select id="city" class="location_option">
                            <option value="">请选择市</option>
                        </select>
                    </div>
                    <p class="location_Strong">直营店查询</p>
                    <p class="location_txt location_local"><span class="location_airPlan"></span>使用我的当前位置</p>
                </div>
            </div>
            <!-- 内容 -->
            <div class="container">
                <div class="banner"></div>
            </div>
    <div id="mapContainer">
        <div id="allmap"></div>
        <div id="mapFoot">
            <ul>
                <li>当前天气：晴天 (*^▽^*)
                    <div id="nowTime"></div>
                </li>
                <li id="arrive">
                    <div id="arriveTime">预计骑手还有30分钟到达</div>
                </li>
                <li>
                    <ul>
                        <li>联系骑手</li>
                        <li>联系商家</li>
                        <li>催单</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <iframe src="footer.html" frameborder="0" height="520px" width="100%"></iframe>
</body>

</html>
<script type="text/javascript">
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(116.331398, 39.897445);
    map.centerAndZoom(point, 12);
    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function (r) {
        if (this.getStatus() == BMAP_STATUS_SUCCESS) {
            var mk = new BMap.Marker(r.point);
            map.addOverlay(mk);
            map.panTo(r.point);
            // alert('您的位置：' + r.point.lng + ',' + r.point.lat);
            var riding = new BMap.RidingRoute(map, {
                renderOptions: {
                    map: map,
                    autoViewport: true
                }
            });
            var start = new BMap.Point(120.742185, 31.271757);
            var end = new BMap.Point(120.758479, 31.275291);
            riding.search(start, end);
        }
        else {
            alert('failed' + this.getStatus());
        }

    }, { enableHighAccuracy: true })

    function time() {
        var vWeek, vWeek_s, vDay;
        vWeek = ["星期天", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
        var date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        hours = date.getHours();
        minutes = date.getMinutes();
        seconds = date.getSeconds();
        vWeek_s = date.getDay();
        document.getElementById("nowTime").innerHTML = year + "年" + month + "月" + day + "日" + "\t" + vWeek[vWeek_s] + "\t" + hours + ":" + minutes + ":" + seconds + "\t";
        // document.getElementById("arriveTime").innerHTML = hours + ":" + minutes + ":" + seconds + "\t" ;
    };
    setInterval("time()", 1000);
</script>