<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HiKinCoffee购物车</title>
    <link rel="icon" type="image/x-icon" href="../imgs/favicon.ico" />
    <script src="../js/jquery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../css/shopCar.css">
    <script src="../js/shopCar.js"></script>
</head>

<body>
    <form action="#">
        <div class="head">
            <div id="search">
                <div id="search_search">
                    <span class="search_search"></span>
                    <form action="#">
                        <input type="text" id="search_input" placeholder="蓝山咖啡">
                    </form>
                    <span class="search_display"></span>
                </div>
            </div>
            <div class="nav">
                <a href="#" class="mapIcon"></a>
                <ul class="head_ul1">
                    <span class="head_map"></span>
                    <li class="head_li1" id="head_li1">
                        <a href="#">中国</a>

                    </li>
                    <li class="head_li1"><a href="#">简体中文</a></li>
                    <li class="head_li1"><a href="#">客户服务</a></li>
                </ul>
                <ul class="head_ul2">
                    <li class="head_li2">
                        <a href="login1.html" class="head_Login">登录</a>
                    </li>
                    <li class="head_li2"><span class="head_xin"></span></li>
                    <li class="head_li2"><span class="head_Shop_logo"></span>
                        <a href="#" class="head_Shop">购物车</a></li>
                    <li class="head_li2"><span class="head_s1"></span></li>
                </ul>
            </div>

            <div id="menu" class="menu">
                <ul class="head_ul3">
                    <li class="head_li3"><a href="coffee_hot.html">热门饮品</a><span></span></li>
                    <li class="head_li3"><a href="coffee.html">蓝山咖啡</a><span></span></li>
                    <li class="head_li3"><a href="coffee.html">拿铁咖啡</a><span></span></li>
                    <li class="head_li3"><a href="milkTea.html">浓郁奶茶</a><span></span></li>
                    <li class="head_li3"><a href="cake.html">慕斯蛋糕</a><span></span></li>
                    <li class="head_li3"><a href="story.html">高薪故事</a><span></span></li>
                </ul>
            </div>
            <div id="menu_List">
                <div id="menu_List_position">
                    <ul>
                        <li>女士</li>
                        <li>2019早秋系列饮品</li>
                        <li>2019春夏系列饮品</li>
                        <li>2019早春系列饮品</li>
                    </ul>
                    <ul>
                        <li>男士</li>
                        <li>2019早秋系列饮品</li>
                        <li>2019春夏系列饮品</li>
                        <li>2019早春系列饮品</li>
                    </ul>
                </div>
            </div>
            <div class="location">
                <img src="../imgs/map_triangle.png" alt="" id="triangle">
                <p class="location_Strong">网上商城</p>

                <p class="location_txt">请注意，在浏览过程中更改您的位置将会清除购物袋中的所有商品。</p>
                <div class="location_d location_txt">
                    <span class="location_dir">
                        <span>配送至：</span>
                        <a>中国</a>
                    </span>
                    <a class="location_change location_txt"> 更改国家/地区</a>
                </div>
                <div class="head_city">
                    <select id="province" class="location_option">
                        <option value="" onchange="selP(this)">请选择省</option>
                        <!-- <option value="" >请选择省</option> -->
                    </select>
                    <select id="city" class="location_option">
                        <option value="">请选择市</option>
                    </select>
                </div>
                <p class="location_Strong">直营店查询</p>
                <p class="location_txt location_local"><span class="location_airPlan"></span>使用我的当前位置</p>
            </div>
        </div>
        <div class="container">
            <div class="banner"></div>
        </div>
        <div id="container">
            <div id="left">
                <ul>
                    <li><input type='checkbox' id="all"><span>全选</span></li>
                    <hr><br>
                    <li>
                        <input name="commodity" type='checkbox'>
                        <img src="../images/coffee01.jpg" alt="" id="bigImg">
                        <ul>
                            <li>
                                <h4>牙买加咖啡</h4>
                            </li>
                            <li>
                                <p>我们绝对相信牙买加蓝山咖啡是最佳的咖啡，它的酸、甘、醇与苦味非常平衡，味道芳香，喝起来非常润顺</p>
                            </li>
                            <li><span><strong>加入收藏</strong> 删除</span></li>
                        </ul>
                        <div>
                            <img src="../images/jianhao.png" width="20" height="20" id="del1" />
                            <input type="text" class="quantity" value="1" />
                            <img src="../images/jiahao.png" width="20" height="20" id="add1" />
                        </div>
                        <input type="radio" name="candy" id="" checked>无糖<input type="radio" name="candy" id="">半塘<input
                            type="radio" name="candy" id="">单糖<br>
                        <input type="radio" name="tem" id="" checked>热<input type="radio" name="tem" id="">冰
                        <h3><strong>￥</strong> 300</h3>
                    </li>
                    <hr><br>
                    <li>
                        <input name="commodity" type='checkbox'>
                        <img src="../images/cake01.jpeg" alt="" id="bigImg">
                        <ul>
                            <li>
                                <h4>黑白巧克力慕斯</h4>
                            </li>
                            <li>
                                <p>口感冰凉细腻，白巧克力慕斯的甜，与底部黑巧克力酱的苦,风味均衡柔美</p>
                            </li>
                            <li><span><strong>加入收藏</strong> 删除</span></li>
                        </ul>
                        <div>
                            <img src="../images/jianhao.png" width="20" height="20" id="del2" />
                            <input type="text" class="quantity" value="1" />
                            <img src="../images/jiahao.png" width="20" height="20" id="add2" />
                        </div>
                        <input type="text" value="15" disabled><strong>×</strong><input type="text" value="15" disabled>
                        <h3><strong>￥</strong> 30</h3>
                    </li>
                    <hr>
                </ul>
            </div>
            <div id="right">
                <ul>
                    <li><span>订单小计</span><span>已选择两个商品</span></li>
                    <hr>
                    <li><span>商品总计</span><span><strong>￥</strong> 330</span></li>
                    <li><span>运费</span><span>免费</span></li>
                    <li><span>共计</span><span><strong>￥</strong> 330</span></li>
                    <hr>
                    <li>
                        <p>说明</p>
                    </li>
                    <li>
                        <p>订单提交之后1小时内未付款，订单将被系统自动取消，请您尽快完成支付以确保商品能及时送达，有货商品和门店配货商品是分开寄出</p>
                    </li>
                    <hr>
                    <li><a href="./payment.html">立即结算</a></li>
                </ul>
            </div>
        </div>
        <iframe src="footer.html" frameborder="0" height="520px" width="100%"></iframe>
    </form>
</body>

</html>