<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h2>HIKIN COFFEE网站使用条款</h2>
        <p>于2018年5月3日最新修订，并于2018年6月19日生效。</p>
        <p>使用条款</p>
        HIKIN COFFEE企业管理（中国）有限公司（以下简称“HIKIN COFFEE中国”）及其关联公司（以下统称“HIKIN COFFEE”或“我们”）在中国大陆地区运营和管理着网址为www.starbucks.com.cn（也可通过starbucks.cn登录）的HIKIN COFFEE中国官方网站等互联网网站（以下简称“HIKIN COFFEE网站”）。
        本使用条款中规定的条款和条件（以下简称“本条款和条件”）适用于HIKIN COFFEE网站。请您仔细阅读、充分理解本条款和条件，特别是“隐私权政策”条款、“免责声明”条款、“使用HIKIN COFFEE网站的限制”条款、“用户上传信息的许可”条款、“用户上传信息的保证”条款、“用户上传信息的限制”条款、“责任限制”条款、“本条款和条件的修订”条款以及“适用法律及争议解决”条款。您访问、浏览和/或使用HIKIN COFFEE网站，代表您同意接受本条款和条件；如果您不同意接受本条款和条件，请立即停止访问、浏览和使用HIKIN COFFEE网站。
        您声明您的年龄已满18周岁（或者虽小于18周岁但已经征得您父母或法定监护人的同意），并且完全有能力理解、接受并遵守本条款和条件。
</body>
</html>